body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  margin:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* /////////////////////////////////////
// GLOBAL //
///////////////////////////////////// */

html{
  scroll-behavior: smooth;
}

:root{
  --ff-primary: 'Playfair Display', serif;
  --ff-secondary: 'Nanum Gothic', sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: rgb(249, 224, 202);
  --clr-light-fade: rgba(249, 224, 202,0.8);
  --clr-dark:#F2BC8D;
  --clr-text: #303030;
  --clr-accent: #C16D48;
  --clr-gold: rgba(178,161,77,1);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.125em rgba(0,0,0,0.15);
}

@media (min-width: 800px){

  :root{
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}


.standardButton{
  padding: 1em;
  background-color:var(--clr-light);
  border-radius: 25px;
  color: var(--clr-text);
  text-decoration: none;
  border: solid black 2px;
  max-width: 100%;
  text-align: center;
  font-size: 1em;
}

.standardButton:hover,
.standardButton:focus{
  background-color: var(--clr-accent);
  cursor: pointer;
}

/* ////////////////
/ Typography /
/// */

.section__title{
  font-size: var(--fs-h2);
  font-family: var(--ff-primary);
}

/* /////////////////////////////////////
// NAVBAR //
///////////////////////////////////// */

.navbar {
  padding: 1em;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 400ms ease-in-out;
  z-index: 3;
}

.navbar-scrolled{
  background-color: white;
}

.navbar-ul{
  position: relative;
  display: flex;
  margin: auto;
}

.navbar li{
  text-decoration: none;
  list-style: none;
}

.navbar-ul a {
  padding: 1em;
  text-decoration: none;
  color: var(--clr-text);
  font-family: var(--ff-primary);
  font-size: var(--fs-h3);
}

.navbar-ul a:hover, .navbar-ul a:focus {
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

.menu-sub{
  display: none;
  margin-top: 1em;
  position: absolute;
  background: rgba(0,0,0,0.301);
  backdrop-filter: blur(1rem);
  margin-right: 2em;
  z-index: 1000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

.menu-sub li {
  padding: 1em;
}

.menu-sub a{
  color: white;
}

.navbar li:hover .menu-sub{
  display: block;
  height: auto;  
}

.menu-sub li a:hover, .menu-sub li a:focus{
  color: white;
  cursor: pointer;
}

/* 
///////////////////////////////////////
///////////////////////////////////////
// HOMEPAGE //
///////////////////////////////////////
///////////////////////////////////////
*/

.section{
  padding: 2em;
  margin: auto;
  margin-bottom: 3em;
  border-radius: 25px;
  max-width: 90%;
}

/* /////////////////////////////////////
// HERO SECTION //
///////////////////////////////////// */

.section__hero{
  min-height: 94vh;
  max-width: 100%;
  background-color: #C16D48;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-size: cover;
  
  display: flex;
  flex-direction: column;
}

.section__hero .section__title {
  margin-top: 5em;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1rem);
  max-width: 40%;
  border-radius: 15px;
  padding: 1em;
}

.section__hero button{
  width: 5em;
}

/* /////////////////////////////////////
// ABOUT //
///////////////////////////////////// */

.section__about{

  min-height: 40vh;
  display: flex;
  background-image: url("https://source.unsplash.com/random/?landscape/");
  background-size: cover;

}

.about__text{
  margin-top: 4em;
  padding: 2em;
  background-color: var(--clr-light-fade);
  text-align: left;
  border-radius: 15px;
  margin: 2em;
}

.about__text p{
  font-size: var(--fs-h3);
  line-height: 2em;
}

.about__img{
  max-height: 600px;
  border-radius: 15px;
}

/* /////////////////////////////////////
// SERVICES //
///////////////////////////////////// */

.section__services{
  background-color: var(--clr-dark);
  min-height: 80vh;
  background-image: url("https://source.unsplash.com/random/?camera/");
  background-size: cover;
}


.section__services .section__title{
  background-color: rgba(249, 224, 202,0.8);
  width: 50%;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 2em;
}

.services__button{
  padding: 1em;
  margin: 2em;
  border: none;
  border-radius: 15px;
  font-size: var(--fs-h3);
  font-family: var(--ff-secondary);
}

.services__button:hover, .services__button:focus{
  background-color: var(--clr-accent);
  cursor: pointer;
  box-shadow: var(--bs);
  transition: background-color ease-in-out 250ms;
  text-decoration: underline;
}

/* /////////////////////////////////////
// CONTACT //
///////////////////////////////////// */

.section__contact{
  background-image: url("https://source.unsplash.com/random/?dslr/");
  background-color: var(--clr-light);
  min-height: 40vh;
}

/* /////////////////////////////////////
// SOCIALS //
///////////////////////////////////// */

.socials {
  margin: auto;
  margin-bottom: 2em;
}

.social-list__link {
  color: var(--clr-dark);
  font-size: 2em;
  font-weight: 800;
}

.bounce2{
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.bounce2:hover,
.bounce2:focus{
  color: var(--clr-accent);

}




.social-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.homepage__contact-iconContainer{
  background-color: var(--clr-light);
  border-radius: 25px;
}

/* /////////////////////////////////////
// PLAYING CARDS WIDGET //
///////////////////////////////////// */

.playingcard{
  display: flex;
  justify-content: space-evenly;
}

.playingcardwidget {
  
  display: grid;
  place-items: center;
  min-height: 0vh;
}

.card {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  aspect-ratio: 5/7;
  transition: transform 800ms cubic-bezier(.05,.43,.25,.95), scale 800ms cubic-bezier(.05,.43,.25,.95);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.card h3{
  background-color: rgba(255,255,255,0.6);
  border-radius: 25px;
  backdrop-filter: blur(1em);
  padding: 1em 1em;
  /* max-width: 50%; */
  margin: auto;

}

.card-group,
.big-card{
  width: 30vmin;
}

.big-card{
  border-radius: 15px;

}

.little-card{
  width: 12vmin;
  border-radius: 25px;
  transform: translate(50%, 50%);
  z-index: 0;
}

.big-card:nth-child(1){
  transform: translateX(-10%) rotate(-1deg);
}

.big-card:nth-child(3){
  transform: translateX(-10%) rotate(-3deg);
}

.big-card:nth-child(5){
  transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(7){
  transform: translateX(-10%, 3%) rotate(5deg);
  z-index: 1;
}


.card-group:hover > .big-card:nth-child(1){

  transform: translate(-100%, 15%) rotate(-24deg);
  cursor: pointer;
}

.card-group:hover > .big-card:nth-child(3){
  transform: translate(-40%, 5%) rotate(-12deg);
  cursor: pointer;
}

.card-group:hover > .big-card:nth-child(5){
  transform: translate(40%, 5%) rotate(12deg);
  cursor: pointer;
}

.card-group:hover > .big-card:nth-child(7){
  transform: translate(100%, 15%) rotate(24deg);
  cursor: pointer;
}

.big-card:nth-child(1):hover,
.big-card:nth-child(3):hover,
.big-card:nth-child(5):hover,
.big-card:nth-child(7):hover{
  z-index: 2;
  scale: 110%;
  box-shadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.5);
}

.card-group:hover > .little-card:nth-child(2){
  transform: translate(250%, -45%) rotate(-15deg);
}

.card-group:hover > .little-card:nth-child(4){
  transform: translate(250%, 230%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(6){
  transform: translate(-250%, -45%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(8){
  transform: translate(-250%, 230%) rotate(-15deg);
}

/* 
///////////////////////////////////////
///////////////////////////////////////
// PHOTO GALLERY //
///////////////////////////////////////
///////////////////////////////////////
*/
.photoGallery{
  margin:0;
  padding:0;
}
.photoGalleries{
  display: flex;
}

.photoGallery-container{
  max-width: 25%;
  max-height: 90vh;

  margin: 1em;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  transition: max-width ease-in-out 350ms;
}

.photoGallery-container:hover,
.photoGallery-container:focus{
  max-width: 40%;
}


.photoGallery-container::-webkit-scrollbar{
  display: none;
}

.gallery_photo{
  max-width: 100%;
  border-radius: 25px;
  margin-bottom: 1em;
}




/* 
///////////////////////////////////////
///////////////////////////////////////
// SERVICES SCREEN //
///////////////////////////////////////
///////////////////////////////////////
*/

.services__menu{
  padding:0;
}

.services__menu__banner{
  background-color: #C16D48;
  background-image: url("https://source.unsplash.com/random/?dslr/");
  background-size: cover;
  margin:0;
  padding: 3em;
}

.services__menu__title{
  background-color: rgba(255,255,255,0.8);
  padding: 1em;
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
  border-radius: 15px;
}

.services__menu__tile-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 2em;
  margin: 0em;
  background-color: var(--clr-light);
  padding: 2em;
}

.services__menu__tile{
  border: solid grey 0.5px;
  background-color: whitesmoke;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em 1em 0.5em;
  
}

.services__menu__tile-title{
  color: var(--clr-text);
  text-decoration: none;
}

.services__menu__tile-image{
  max-width: 60%;
  aspect-ratio: 2/3;
  border-radius: 15px;
  padding: 0;
  margin: 0;
}

.services__menu__returnButton{
  margin: 1em;
  margin-top: 1em;
}

.serviceDetail__background{

  background-image: url("https://source.unsplash.com/random/?dslrcamera/");
  height: 100vh;

}
.serviceDetail__modal{
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.349);
  backdrop-filter: blur(1rem);
}
.serviceDetail__screen{
  max-width: 90%;
  min-height: 95vh;
  margin: auto;
  background-color: var(--clr-light);
  border-radius:25px;
  padding-bottom: 1em;
}

.services__banner-text{
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1rem);
  padding: 1em;
  border-radius: 25px;
}

.serviceDetail__title{
  text-align: center;
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
}

.serviceDetail__content{
  padding: 1em;
  display: flex;
  
}

.serviceDetail__image{
  max-width: 60%;
  margin-right: 1em;
  border-radius: 25px;
}

.servicesReturn__button{
  margin: 1em;
}

/* 
///////////////////////////////////////
///////////////////////////////////////
// LOGIN SCREEN //
///////////////////////////////////////
///////////////////////////////////////
*/

.loginScreen{
  padding-top:2em;
  min-height: 95.5vh;
  background-image: url("https://source.unsplash.com/random/?dslr/");
  background-size: cover;
  background-color: #c16d48;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(249, 224, 202,0.4);
  backdrop-filter: blur(1rem);
  padding: 2em;
  border-radius: 15px;
}

.login__title{
  font-size: var(--fs-h2);
}

.login__container form{
  display: flex;
  flex-direction: column;
}

.login__userId,
.login__password{
  margin: 2em;
  padding: 1em;
  border-radius: 25px;
}

.login__button{
  margin-bottom: 1em;
}



/* 
///////////////////////////////////////
///////////////////////////////////////
// BACKOFFICE SCREEN //
///////////////////////////////////////
///////////////////////////////////////
*/

.boScreen{
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 100vh;
}

.boElement{
  background-color: var(--clr-light);
  padding: 2em;
}

.boElement__title{
  font-size: var(--fs-h2);
  border-bottom: #303030 solid 2px;
}

.boElement__subtitle{
  font-size: var(--fs-h3);
  border-bottom: var(--clr-accent) solid 1px;
  padding: .5em;
  border-radius: 45px;
  background-color: clr;
}

/* /////////////////////////////////////
// BACKOFFICE NAV //
///////////////////////////////////// */

.boNavBannerContainer{
  padding: 1em;
}

.backofficeNav{
  max-width: 30vw;
}

.backofficeNav__ul{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  
}

.backofficeNav__ul li{
  background-color: var(--clr-accent);
  width: 100%;
  display: flex;
  transition: background-color 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backofficeNav__link{
  color: white;
  text-decoration: none;
  width: 100%;
  margin: 0;
  padding: 1em 0 1em 2em;

}

.backofficeNav__ul li:hover,
.backofficeNav__ul li:focus{
  background-color: var(--clr-light);
}

.backofficeNav__ul li:hover .backofficeNav__link,
.backofficeNav__ul li:focus .backofficeNav__link{
  color: var(--clr-text);

}

/* /////////////////////////////////////
// BACKOFFICE STORE DASHBOARD//
///////////////////////////////////// */

.store-categories-preview_ul{
  text-decoration: none;
  list-style: none;
  border: solid 1px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.store-categories-preview_ul li{
  width: 100%;
  padding: .75em 0em .75em .75em;
  border-bottom: solid 1px;
}

.store-categories-preview_ul li:last-child{
 border: none;
}


/* /////////////////////////////////////
// BACKOFFICE NEW SERVICE//
///////////////////////////////////// */

.BO__newservice__form{
  display: flex;
  flex-direction: column;
}

.BO__newservice__form-input{
  margin: 1em;
  border-radius: 15px;
  border: solid grey 1px;
  padding: 1em;
}

.input-paragraph{
  padding: 4em;
}